* {
    text-decoration: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightblue;
}

.navbar {
    background-color: black;

}


.navbar .bar {
    display: flex;
    align-items: center;

    flex-direction: row-reverse;
    gap: 10px;
    margin-right: 30px;

}

.navbar .bar a {
    font-size: 25px;
    font-weight: bold;
    color: aqua;
    background-color: red;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.navbar .bar a:hover {
    font-size: 25px;
    font-weight: bold;
    color: darkcyan;
    background-color: darkred;
    margin: 10px;
    padding: 10px;

}

main {
    font-family: 'Franklin Gothic Medium', '';
}

.hero_section {
    padding-top: 0.1px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: 0px -100px;
    background-size: 100%;
    padding-bottom: 50%;
    min-width: 1000px;
}
/*
.intro-about {
    margin: 0px 1cm 0px 1cm;
    display: grid;
    grid-template-rows: repeat(4,100px);
    grid-template-columns:minmax(300px,500px) minmax(300px,500px);
    
}
.intro-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    
}
@media screen and (max-width: 280px){
    .intro-about img{
        border: 10px solid red;
    }
    
}

.intro-about p:nth-child(2){
    grid-column: 2 / 1;
}
*/
.intro-about{
    margin: 50px 1cm 50px 1cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20%;
}
.intro-about img{
    min-width: 300px;
    min-height: auto;

    width: 40%;
   height: auto;

    object-fit: fill;
    
}
.intro-about p{
    max-width: 40%;
    align-self: center;
    flex-shrink: 1;
 
    font-size: 1.6vw;
    
}

@media screen and (max-width:856px) {
    .intro-about img{
        min-width: 300px;
        min-height: auto;
    

    
        object-fit: fill;
        
    }
    .intro-about p{
        max-width: 100%;
        align-self: center;
        flex-shrink: 1;
     
        font-size: 15px;
        
}
.strong-a-weak{

}

.Q-about{

}

.main-about {}

.my_product {}

.my_roadmap {}

.my_contact {}